/*.table_form th{font-weight:normal; text-align:right;padding-right:10px; color:#777}
.table_form td label{ vertical-align:middle}
.table_form td,.table_form th{padding:4px 0 4px 8px}
.table_form tbody td,.table_form tbody th{}
.colorpanel tbody td,.colorpanel tbody th{ padding:0;border-bottom: none;}*/
/*排序input*/
.input-text-c{width: 60px!important; text-align: center;}
input#image{width: 180px; margin-right: 20px; float: left;}
td input[type="text"].am-input-sm{
    display: block;
    width: 100%;
    padding: .5em;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-appearance: none;
}